body{
    background-color: rgb(30,30,30);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;  /* Alinha cabeçalho em linha na horizontal*/
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

h1{
    font-weight: 400;
    font-size: 40px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #ebc9a9;
    transition: 0.2s all;
}

#adquirir{
    border: 2px solid #ebc9a9;
    padding: 10px;
    border-radius: 15px;
}

#adquirir:hover{
    background-color: #dba26c;
    color: white;
}

main{
    display: flex; /* Ajusta o elemento lado a lado*/
    flex-direction: row;
}

h2{
    font-size: 50px;
    line-height: 18px;
    font-family: cursive;
}

span{
    color: #ebc9a9;
}

p{
    line-height: 26px;
    max-width: 500px;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #dba26c;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

